	<div id="main_frame" style="width:588px; margin:auto; position:relative; font-size: 9pt; color: #777777;">
		<script type="text/javascript" src="/plugin/stlviewer/static/js/jsc3d.js"></script>
		<script type="text/javascript" src="/plugin/stlviewer/static/js/jsc3d.touch.js"></script>
		<script type="text/javascript" src="/plugin/stlviewer/static/js/jsc3d.console.js"></script>
		<script type="text/javascript" src="/plugin/stlviewer/static/js/sonic.js"></script>
		
		<canvas id="cv" style="border: 1px solid;" width="588" height="368" ></canvas>
		<div id="statistics" style="position:absolute; width:100px; height:50px; left:10px; top:10px; font:12px Courier New; color:red; background:transparent;"></div>
		<div id="loading" style="position:absolute; left:90px; top:159px;"></div>
		<div class="row-fluid">
		<select id="model_list">
		<option>dragon.stl</option>
		</select>
		<button id="load" onclick="loadModel();" class="btn">Load</button>
		<select id="render_mode_list">
		<option>render as points</option>
		<option>render as wireframe</option>
		<option>render as flat</option>
		<option selected>render as smooth</option>
		<option>render with environment</option>
		</select>
		<button id="change" onclick="setRenderMode();" class="btn">Change</button>
		</div>
	</div>
	<script type="text/javascript">
		// setup and activate the console singleton
		JSC3D.console.setup('main_frame', '120px');

		var canvas = document.getElementById('cv');
		var viewer = new JSC3D.Viewer(canvas);
		var logoTimerID = 0;
		viewer.setParameter('SceneUrl', '/downloads/files/local/dragon.stl');
		viewer.setParameter('InitRotationX', 20);
		viewer.setParameter('InitRotationY', 20);
		viewer.setParameter('InitRotationZ', 0);
		viewer.setParameter('ModelColor', '#CAA618');
		viewer.setParameter('BackgroundColor1', '#000000');
		viewer.setParameter('BackgroundColor2', '#6A6AD4');
		viewer.setParameter('RenderMode', 'smooth');
		viewer.setParameter('ProgressBar', 'on');
		viewer.init();
		viewer.update();

		function loadModel() {
			if(logoTimerID > 0) {
				clearInterval(logoTimerID);
				logoTimerID = 0;
				viewer.enableDefaultInputHandler(true);
			}
			var models = document.getElementById('model_list');
			viewer.replaceSceneFromUrl('/downloads/files/local/' + models[models.selectedIndex].innerHTML);
			viewer.update();
		}

		function setRenderMode() {
			if(logoTimerID > 0)
				return;
			var modes = document.getElementById('render_mode_list');
			switch(modes.selectedIndex) {
			case 0:
				viewer.setRenderMode('point');
				JSC3D.console.logInfo('Set to point mode.');
				break;
			case 1:
				viewer.setRenderMode('wireframe');
				JSC3D.console.logInfo('Set to wireframe mode.');
				break;
			case 2:
				viewer.setRenderMode('flat');
				JSC3D.console.logInfo('Set to flat mode.');
				break;
			case 3:
				viewer.setRenderMode('smooth');
				JSC3D.console.logInfo('Set to smooth mode.');
				break;
			case 4:
				viewer.setRenderMode('texturesmooth');
				var scene = viewer.getScene();
				if(scene) {
					var objects = scene.getChildren();
					for(var i=0; i<objects.length; i++)
						objects[i].isEnvironmentCast = true;
				}
				JSC3D.console.logInfo('Set to environment-mapping mode.');
				break;
			default:
				viewer.setRenderMode('flat');
				break;
			}
			viewer.update();
		}
	</script>