#youtubelive_wrapper { 
	position: relative; 
	padding-bottom: 56.25%; 
	width: 100%; 
	height: 100%;
}

#youtubelive_wrapper  iframe {
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%;
} 