<h4>YouTube Live Settings</h4>
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('YouTube Channel ID') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.youtubelive.channel_id" placeholder="Enter your personal channel id here">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('YouTube Stream ID') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.youtubelive.stream_id" placeholder="Enter your personal live stream id here">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('FFMPEG Command Line Options') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.youtubelive.ffmpeg_cmd_options" placeholder="Command line options for ffmpeg">
        </div>
    </div>
    <div class="control-group" data-bind="visible: settings.plugins.youtubelive.stream_id().length > 0">
        <label class="control-label">{{ _('Stream While Printing') }}</label>
        <div class="controls">
            <input class="input-checkbox" type="checkbox" data-bind="checked: settings.plugins.youtubelive.auto_start">
        </div>
    </div>
</form>