<div id="youtubelive_wrapper">
	<iframe data-bind="attr: {src: 'https://www.youtube.com/embed/live_stream?channel=' + settingsViewModel.settings.plugins.youtubelive.channel_id()}" frameborder="0" allowfullscreen></iframe>
</div>
<div class="row-fluid" style="text-align: center;padding-top: 20px;">
	<button class="btn btn-danger" data-bind="click: startStream"><i class="icon icon-play"></i> Go Live</button>
</div>
