<div id="youtubelive_wrapper">
	<iframe data-bind="attr: {src: 'https://www.youtube.com/embed/live_stream?channel=' + settings.settings.plugins.youtubelive.channel_id()}" frameborder="0" allowfullscreen></iframe>
</div>
